*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #121214;
   

  }
  
  .container {
    max-width: 500px; /*largura do conteiner*/
    margin: 0 auto;
    padding: 15px;
    color: white;
    background-color: #212529;
    border-radius: 10px;
    box-shadow: 0 0 20px #f7f4f417;
  }
  
  h1 {
    color: #ff577f;
    text-align: center;
    margin-bottom: 20px;
    
  }

  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="email"],
  input[type="password"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;   /*Alterações nos input da pagina de cadastro.*/
    border-radius: 4px;
    font-size: 16px;
  }
  
  select {
    appearance: none;
    -webkit-appearance: none;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #ff577f;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #FF427F;
  }

  #back{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #ff577f;
  }

  
  /* Responsividade para dispositivos móveis */
  @media (max-width: 768px) {
    .container {
      max-width: 100%;
      padding: 10px;
    }
  }
  