
header {
    width: 98vw;
    background-color: #FF427F; /* Cor de fundo */
    color: #f8f9fa; /* Cor do texto */
    padding: 15px; /* Espaçamento interno */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo do logotipo */
.logo img {
    max-width: 4vw; /* Tamanho máximo do logotipo */
}

/* Estilo do menu de navegação */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #f8f9fa;
    font-weight: bold;
}

/* Estilo dos links quando hover (passar o mouse por cima) */
nav a:hover {
    color: #ffffff; /* Cor alternativa ao passar o mouse */
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121214;
    color: #f8f9fa;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
  }
  
  h1 {
    color: #ff577f;
    text-align: center;
  }
  
  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 40px;
  }
  
  .product {
    background-color: #212529;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px #f7f4f417;
    text-align: center;
    transition: transform 0.3s ease; /* Adicionamos a transição aqui */
  }
  
  .product:hover {
    transform: scale(1.05); /* Efeito de escala ao passar o mouse */
  }
  
  .product img {
    width: 150px;
    border-radius: 5px;
  }
  
  .product h3 {
    margin-top: 20px;
    color: #f8f9fa;
  }
  
  .product p {
    color: #808080ce;  /*Alteração na descrição do produto*/
    font-size: 14px;
  }
  
  .product span {
    display: block;
    color: #ff577f;
    font-size: 18px;
    margin-top: 10px;
  }
  
  .product button {
    background-color: #ff577f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  
  .product button:hover {
    background-color: #FF427F;
  }
  
  
  .map{
    width: 100vw;
    margin: 0.03vw;
    display: flex;
    background-color: #ff427e9f;
   }




  /* Responsividade para dispositivos móveis */
  @media screen and (max-width: 768px) {
    .products {
      grid-template-columns: 1fr;
    }
  }
  