/*Arquivo de Login*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #121214;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #212529;
    border-radius: 10px;
    box-shadow: 0 0 20px #f7f4f417;
    overflow: hidden;
  }
  
  .login-box {
    padding: 40px;
    text-align: center;
    color: #F8F9FA;
  }
  
  h2 {
    color: #ff577f;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #ff577f;
    color: #F8F9FA;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #FF427F; /*Animação para transição de cor do botão*/
  }
  
  a {
    color: #ff577f;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
    /* Responsividade para dispositivos móveis */
    @media (max-width: 768px) {
      .container {
        max-width: 100%;
        padding: 10px;
      }
    }